<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSFaceIDUsageDescription</key>
    <string>Precisamos do Face ID para desbloquear sua conta com segurança.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
        <key>UIAppFonts</key>
        <array>
          <string>NunitoSans-VariableFont_wght.ttf</string>
          <string>NunitoSans-Italic-VariableFont_opsz.ttf</string>
          <string>Rajdhani-Bold.ttf</string>
          <string>Rajdhani-Light.ttf</string>
          <string>Rajdhani-Medium.ttf</string>
          <string>Rajdhani-Regular.ttf</string>
          <string>Rajdhani-SemiBold.ttf</string>
          <string>RammettoOne-Regular.ttf</string>
        </array>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
